<section class="py-5" *ngIf="product">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-4">
        <img
          class="card-img-top mb-5 mb-md-0"
          [src]="'http://localhost:4000/uploads/' + product.image + '.jpeg'"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <!-- <div class="small mb-1">SKU: BST-498</div> -->
        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
        <div class="reviews-counter" *ngIf="allReview.length">
          <app-star-rating
            [rating]="reviewStar"
            [readOnly]="true"
            name="rating-1"
          ></app-star-rating>
          <span>{{ subTotalNote }} Rating & </span>
          <span>{{ allReview.length }} Reviews</span>
        </div>
        <div class="fs-5 mb-5">
          <ng-container *ngIf="hasSpecialPrice(product); else hasSpecial">
            <ng-container *ngIf="hasFixedPrice(product)">
              <h4>{{ product.specialPrice }}.00 INR</h4>
            </ng-container>
            <ng-container *ngIf="!hasFixedPrice(product)">
              <h4>
                {{
                  calculateDiscountedPrice(product.price, product.specialPrice)
                }}.00 INR
              </h4>
            </ng-container>
          </ng-container>
          <ng-template #hasSpecial>
            <h4>{{ product.price }}.00 INR</h4>
          </ng-template>
        </div>
        <p class="lead">
          {{ product.description }}
        </p>
        <div class="row">
          <div class="col-md-4" *ngFor="let attribute of productAttributes">
            <app-select-dropdown
              [attribute]="attribute"
              (setAttributeSelected)="onAttributeChange($event)"
            ></app-select-dropdown>
          </div>
          <div class="col-md-4">
            <input
              type="number"
              min="1"
              [max]="product.stock"
              name="quantity"
              id="quantity"
              [(ngModel)]="quantity"
              class="form-control form-control-sm"
            />
            <p *ngIf="quantity === product.stock">
              Maximam {{ quantity }} product is available.
            </p>
          </div>
          <div class="mt-5 d-flex gap-2">
            <button class="btn btn-primary" (click)="addToCart(product)">
              Add to Cart
            </button>
            <button
              *ngIf="isItemExistsInCart(product)"
              routerLink="/cart"
              class="btn btn-outline-primary ms-3"
            >
              Go to Cart
            </button>
            <ng-container
              *ngIf="
                isItemExistsInWishlist(product);
                else show_add_wishlist_button
              "
            >
              <a
                class="btn btn-outline-danger bi-heart-fill"
                routerLink="/wishlist"
              >
                Remove
              </a>
            </ng-container>
            <ng-template #show_add_wishlist_button>
              <button
                class="btn btn-outline-danger bi-heart"
                (click)="addToWishList(currentUser.email, product._id)"
              >
                Wishlist
              </button>
            </ng-template>
            <button
              type="button"
              *ngIf="isLoggedIn$ | async"
              class="btn btn-primary ms-auto"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Rate Product
            </button>
            <button
              type="button"
              *ngIf="!(isLoggedIn$ | async)"
              class="btn btn-primary ms-auto"
              routerLink="/login"
            >
              Rate Product
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Review this product</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #closeBtn
          ></button>
        </div>
        <div class="modal-body">
          <p class="mb-0">Rating</p>
          <div class="reviews-counter d-inline-block">
            <app-star-rating
              [(rating)]="userRating"
              name="rating-2"
            ></app-star-rating>
          </div>
          <p class="mb-0 mt-4">Description</p>
          <textarea
            #reviewDescription
            class="w-100"
            [(ngModel)]="description"
          ></textarea>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="!isFormValid"
            (click)="saveReview()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
