<!-- Password Reset 1 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5">
  <div class="container" *ngIf="!hasPassword">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <h2 class="text-center m-0 px-md-5">Password Recovery</h2>
          <span class="mb-2 text-center d-block"
            >Enter your email and we'll send you intructions on how to reset
            your password</span
          >
          <form [formGroup]="forgotForm" (ngSubmit)="submit()">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="email" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <div class="input-group">
                  <span class="input-group-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-envelope"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
                      />
                    </svg>
                  </span>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                  />
                </div>
                <div class="text-danger">
                  <div
                    *ngIf="
                      forgotForm.hasError('required', 'email') &&
                      forgotForm.controls['email'].dirty
                    "
                  >
                    Email is required.
                  </div>
                  <div *ngIf="forgotForm.hasError('email', 'email')">
                    Email is invalid.
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg fs-6 rounded-0"
                    [disabled]="!forgotForm.valid"
                  >
                    Send Email
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3">
        <a routerLink="/login" class="link-primary text-decoration-none"
          >Ready to sign in?</a
        >
      </div>
    </div>
  </div>
  <div class="container" *ngIf="hasPassword">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <h2 class="text-center m-0 px-md-5">Email sent</h2>

          <p class="text-center">
            It can take a few minutes to receive your password recovery link.
          </p>
          <p class="text-center">
            If you do not receive this link, please contact your administrator.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3">
        <a routerLink="/login" class="link-primary text-decoration-none"
          >Sign in?</a
        >
      </div>
    </div>
  </div>
</div>
