<!DOCTYPE html>
<html>
  <head>
    <title>Multer File Upload</title>
  </head>
  <body>
    <h1>Multer File Upload</h1>
    <form action="/user/profile" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
