<ng-container *ngIf="!isEditFormSelected; else editForm">
  <div
    *ngFor="let address of addresses; let i = index"
    class="mt-5 d-flex gap-4 align-items-center justify-content-between"
  >
    <label class="d-flex gap-4" [for]="name + '-address-' + address.id">
      <input
        type="radio"
        [name]="name"
        [id]="name + '-address-' + address.id"
        [value]="address.id"
        [checked]="selectedAddressIndex === i"
        (change)="onAddressSelected(address); selectedAddressIndex = i"
      />
      <div class="address-details">
        <h6 class="d-flex gap-2">
          {{ address.fullName }}
          <span class="text-uppercase text-muted">{{
            address.type
          }}</span>
          <span>{{ address.phone }}</span>
        </h6>
        <p>{{ address.address .street}}</p>
      </div>
    </label>
    <button
      *ngIf="i === selectedAddressIndex"
      class="btn btn-primary px-3"
      (click)="editAddress(address)"
    >
      Edit
    </button>
  </div>
</ng-container>

<ng-template #editForm>
  <div class="container">
    <h2>Edit Address</h2>
    <form [formGroup]="editAddressForm" (ngSubmit)="updateAddress(selectedAddress._id)">
      <div class="form-group mb-2">
        <label> Full Name: </label>
        <input
          type="text"
          formControlName="fullName"
          placeholder="name"
          class="form-control"
          required
        />
        <div
          *ngIf="
            editAddressForm.get('fullName')?.invalid &&
            editAddressForm.get('fullName')?.touched
          "
        >
          <span *ngIf="editAddressForm.get('fullName')?.hasError('required')"
            >Full name is required</span
          >
        </div>
      </div>
      <div class="form-group mb-2">
        <label> Phone: </label>
        <input
          type="text"
          formControlName="phone"
          placeholder="10-digit mobile number"
          class="form-control"
          required
        />
        <div
          *ngIf="
            editAddressForm.get('phone')?.invalid &&
            editAddressForm.get('phone')?.touched
          "
        >
          <span *ngIf="editAddressForm.get('phone')?.hasError('required')"
            >Phone is required</span
          >
          <span *ngIf="editAddressForm.get('phone')?.hasError('pattern')"
            >Phone must be 10 digits</span
          >
        </div>
      </div>
      <div formGroupName="address">
        <div class="form-group mb-2">
          <label> Address: </label>
          <input
            type="text"
            formControlName="street"
            class="form-control"
            required
          />
          <div
            *ngIf="
              editAddressForm.get('street')?.invalid &&
              editAddressForm.get('street')?.touched
            "
          >
            <span *ngIf="editAddressForm.get('street')?.hasError('required')"
              >Address Line 1 is required</span
            >
          </div>
        </div>
        <div class="d-flex gap-4 mb-2">
          <div class="form-group">
            <label> City: </label>
            <input
              type="text"
              formControlName="city"
              required
              class="form-control"
            />
            <div
              *ngIf="
                editAddressForm.get('city')?.invalid &&
                editAddressForm.get('city')?.touched
              "
            >
              <span *ngIf="editAddressForm.get('city')?.hasError('required')"
                >City is required</span
              >
            </div>
          </div>
          <div class="form-group">
            <label> State: </label>
            <input
              type="text"
              formControlName="state"
              required
              class="form-control"
            />
            <div
              *ngIf="
                editAddressForm.get('state')?.invalid &&
                editAddressForm.get('state')?.touched
              "
            >
              <span *ngIf="editAddressForm.get('state')?.hasError('required')"
                >State is required</span
              >
            </div>
          </div>
          <div class="form-group">
            <label> Zip Code: </label>
            <input
              type="text"
              formControlName="zip"
              class="form-control"
              required
            />
            <div
              *ngIf="
                editAddressForm.get('zip ')?.invalid &&
                editAddressForm.get('zip ')?.touched
              "
            >
              <span *ngIf="editAddressForm.get('zip ')?.hasError('required')"
                >Zip Code is required</span
              >
              <span *ngIf="editAddressForm.get('zip ')?.hasError('pattern')"
                >Zip Code must be 5 digits</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="form-group">
          <input id="home" type="radio" formControlName="type" value="Home" />
          <label for="home" class="ms-1"> Home </label>
        </div>
        <div class="form-group">
          <input id="work" type="radio" formControlName="type" value="Work" />
          <label for="work" class="ms-1"> Work </label>
        </div>
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <button
          type="button"
          class="btn btn-link ms-3"
          (click)="cancelEditAddress()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
